/* Full-height */
body > .grid {
  height: 80%;
}
.main {
  margin-top: 7em!important;
}
.ui.image.logo {
  border-left: 0!important;
  padding-left: 0;
}
.ui.image.logo img {
  width: 120px!important;
}
.column > .row > .image img {
  width: 8em!important;
}
.restricted {
  max-width: 650px;
}
.pusher .column {
  max-width: 1155px;
}
.v-divider {
  position: relative;
  padding: 0 !important;
}
.column > .button.fluid {
  margin: 0 0 1em;
}
.column > .link {
  padding: 15px;
}
/* Navbar */
.hidden.menu {
  display: none;
}
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.ui.vertical.stripe {
  padding: 4em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}
.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}
.footer.segment {
  padding: 5em 0em;
}
.secondary.pointing.menu .toc.item {
  display: none;
}
.ui > .image {
  margin-top: 0!important;
}
.ui.avatar.image {
  margin-right: 0.5em;
}
@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
/* Link button */
.ui.button.link {
  background-color: white;
  padding-left: 0;
  color: #1e70bf;
}
.link a {
  font-weight: 700;
}
/* Inline Search */
.ui.right.floated.search {
  float: right;
  margin-left: 10px;
}
/* Comments */
.ui.basic.segment {
  padding: 0;
}
.ui.comments {
  max-width: 100%;
}
.ui.comments .reply.form textarea {
  height: 6em;
}
.ui.list .item > .flag + .content {
  display: table-cell;
  padding: 0 0 0 .5em;
  vertical-align: top;
}
.ui.list .item > i.flag {
  display: table-cell;
  margin: 0;
  padding-top: .3em;
  padding-right: .3em;
  vertical-align: top;
  transition: color .1s ease;
}
#dashboard .ui.menu:not(.vertical) .item > .button {
  font-size: .78571429em!important;
}
#dashboard .ui.secondary.pointing.menu .search.item {
  font-size: .85714286em!important;
  padding: 1em 0;
}
#dashboard .ui.secondary.pointing.menu .search.item input {
  min-width: 250px;
}
.thread .dropzone {
  min-height: 100px;
  margin-bottom: 20px;
  background-color: rgba(242, 113, 29, 0.1);
}
.thread .dropzone .dz-message {
  margin: 1em 0;
}
.field .helper {
  color: rgba(0, 0, 0, 0.6);
  display: block;
}
